<app-header>Services</app-header>

<main class="container">

  <div class="row row-cols-1 row-cols-md-3">

    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit in dicta tempora adipisci facere quia quaerat? Molestiae dolore eos beatae laboriosam! Amet eius ut commodi, sunt at eos doloremque?
          </span>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit in dicta tempora adipisci facere quia quaerat? Molestiae dolore eos beatae laboriosam! Amet eius ut commodi, sunt at eos doloremque?
          </span>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <div class="layout-container-for-aem"></div>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit in dicta tempora adipisci facere quia quaerat? Molestiae dolore eos beatae laboriosam! Amet eius ut commodi, sunt at eos doloremque?
          </span>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit in dicta tempora adipisci facere quia quaerat? Molestiae dolore eos beatae laboriosam! Amet eius ut commodi, sunt at eos doloremque?
          </span>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit in dicta tempora adipisci facere quia quaerat? Molestiae dolore eos beatae laboriosam! Amet eius ut commodi, sunt at eos doloremque?
          </span>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit in dicta tempora adipisci facere quia quaerat? Molestiae dolore eos beatae laboriosam! Amet eius ut commodi, sunt at eos doloremque?
          </span>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit in dicta tempora adipisci facere quia quaerat? Molestiae dolore eos beatae laboriosam! Amet eius ut commodi, sunt at eos doloremque?
          </span>
        </div>
      </div>
    </div>

  </div>

</main>
